img{
    height: 450px;
    width: 450px;
    border-radius: 50%;
}

#logo{
    width: 250px;
    height: 110px;
}

.p1{
    font-size: 2rem;
}

#log{
    border-radius: 22.5px;
}

@media (min-width: 770px) and (max-width: 1030px){
    img{
        height: 270px;
        width: 270px;
        border-radius: 50%;
    }
}

@media (max-width: 770px){
    img{
     display: none;
    }
}
